<html>
<head>
  <title>Love Clock</title>
  <link rel="stylesheet" href="/css/clock.css"/>
  <script data-main="/js/app/config" src="/js/lib/requirejs/require.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
