inlineThis()
  display inline-block
  box-sizing border-box
  width 25%
  @media only screen and (min-device-width : 320px) and (max-device-width : 568px)
    width 50%

defaultBorder()
  border 2px solid #000


body
  font-family 'Avenir Next', Avenir, Futura, 'Century Gothic', Verdana, Helvetica, Arial, sans-serif
  text-align center
  margin 0
  padding 0
  @media only screen and (min-device-width : 320px) and (max-device-width : 568px)
    font-size 340%

header#header
  position fixed
  width 100%
  background-color #fff

.timeZoneTitle, .timeZoneSubtitle
  inlineThis()

.timeZoneSubtitle
  font-size 90%


.timeZoneHours
  defaultBorder()
  margin-top 11em
  @media only screen and (min-device-width : 320px) and (max-device-width : 568px)
    margin-top 9em
  box-sizing border-box
  padding 0px
  inlineThis()
  &:nth-child(even)
    border-right 0px
  &:nth-child(odd)
    border-left 0px
  li
    list-style none
    padding 12px 0
    defaultBorder()
    &:nth-child(even)
      background-color #ccc
    &#current
      background #1f1

